html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
/* Meros qilib olish */
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: var(--font-family);
  font-weight: 400;
}


img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dotted var(--outline-color);
  outline-offset: 3px;
}

.main-content {
  flex-grow: 1;
}

/* Gradient bu bitta rangdan ikkinchi rangao'tish jarayoni */
.box {
  height: 800px;
  background-color: aquamarine;
  /* Gradient ni browser rang emas rasm sifatida ochadi shu sababli gradientni bacgroundimg: da berishimiz kerak */

  /* Gradientni  bacgroundimg da url() bilan emas liner-gradient() bilan berishimiz kerag*/
  background-image: linear-gradient(

  to left bottom, /* Rangni qaysi tomonga yurishini ko'rsatadi. Uni to left, to bottom, to top, to right top, to right bottom, to left top, to left bottom larda va graduslarda ham berishimiz mumkunmasalan 90deg (90gradus) */
  blue, red, white /* Ranglar */
  );
  margin-bottom: 50px;
}

.box2 {
  /* Bundan tashqari biz gradientni qaysi nuqtada boshlanib qaysi nuqtada tugashini ham belgilasak bo'ladi */
  height: 800px;
  background-color: bisque;
  background-image: linear-gradient(
    to right,
    darkblue 0,
    darkblue 300px,
    /* 0 dan 300px gacha ko'k rang*/
    darkgreen 300px,
    darkgreen 600px,
    /* 300px dan 600px gacha yashil rang */
    red 600px,
    red 750px,
    /* 600px dan 750px gacha qizil rang*/
    black 800px,
    black 900px,
    /* 70px dan 800px gacha qizil rangdan qora ranga o'tadi, 800px dan 900px gacha  qora rang*/
    white 1000px
    /* 900px dan 1000px gacha qoradan oqqa o'tadi va 1000px dan to'liq oq rang bo'ladi */
  );
}
  height: 800px;
